
body{
    font-family: 'Raleway', sans-serif;
}

h1{
    display:flex;
    align-items: center;
    font-size: 96px;
    margin-top: 0px;
    margin-bottom: 0px;
    block-size: 79px;
    padding:0px;
    color: #1e1e1e;
    font-weight:lighter;
    font-family: 'Fredericka the Great', serif;
    -webkit-text-stroke: 0.6px;
    letter-spacing:-8.5px;
    background: linear-gradient(to top, #FCBF38 73%, transparent 27%);
}
h2{
    display:flex;
    align-items: center;
    font-size: 64px;
    margin-top: 0px;
    margin-bottom: 0px;
    block-size: 55px;
    padding:0px;
    color: #1e1e1e;
    font-weight:lighter;
    font-family: 'Fredericka the Great', serif;
    -webkit-text-stroke: 0.6px;
    letter-spacing:0px;
    background: linear-gradient(to top, #FCBF38 73%, transparent 27%);
}
h3{
    display:flex;
    align-items: center;
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 0px;
    block-size: 79px;
    padding:0px;
    color: #1e1e1e;
    font-weight:lighter;
    font-family: 'Fredericka the Great', serif;
    -webkit-text-stroke: 0.6px;
    letter-spacing:0px;
    background: linear-gradient(to top, #FCBF38 73%, transparent 27%);
}

h4{
    display:flex;
    align-items: center;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    block-size: 79px;
    padding:0px;
    color: #1e1e1e;
    font-weight:lighter;
    font-family: 'Fredericka the Great', serif;
    -webkit-text-stroke: 0.6px;
    letter-spacing:0px;
    background: linear-gradient(to top, #FCBF38 73%, transparent 27%);
}

h5{
    font-size: 220px;
    color:#FCE3AD;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -23.1px;
    font-family: 'Raleway', sans-serif;
    margin:0px;
    border:0px;
}

h6{
    font-size: 48px;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}


.R1 {
    font-size: 34px;
    color: #1e1e1e;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}

.R2 {
    font-size: 34px;
    color: #1e1e1e;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}

.R3 {
    font-size: 34px;
    color: #1e1e1e;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

.R4 {
    font-size: 24px;
    color: #1e1e1e;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}

.R5 {
    font-size: 24px;
    color: #1e1e1e;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}

.R6 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.R7 {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    border:0px;
    margin:0px;
    font-style: normal;
    line-height: normal;
}

.R8 {
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}

.R9 {
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.R10 {
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}
.R11 {
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.R12 {
    font-size: 16px;
    color: #1e1e1e;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}

p { 
    font-size: 16px;
    color: #1e1e1e;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.white {
    color: #ffffff;
}
.black {
    color:#1e1e1e;
}
.yellow {
    color:#FCBF38;
}

.logo {
    margin-left: 51px;
}
.inline-block > ul, li{
    display:flex;
}
.menu{
    display: none;
}
body{
    width:100% auto;
}
.navigation{
background-color: #1e1e1e;
width: 1440px 100%;
height: 90px;
display:flex;
align-items: center;
justify-content: space-between;
}

.navigation ul {
    flex-direction: row;
    margin-right:31px;
    margin-bottom: 0px;
    margin-top: 0px;
}


li{
    padding:20px;
    color:white;
    font-family: 'raleway', sans-serif;
    font-size: 24px;
    max-width: 93px;
    align-self: center;
    cursor: pointer;

}
.HI{
    width:100%;
    position: absolute;
    z-index:-1;
    block-size: auto;
    margin-top: -90px;
}
.heroImg{
    display:flex;
    /* width:1440px 100%; */
    height:518px;
    background-size: cover;
    background-repeat: no-repeat;
}

.content{
    width:546px;
    height:350px;
    margin-top: 70px;
    margin-left: 166px;
    margin-right: 728px;
}

.title{
    justify-content: left;
    width:546px;
    margin: 0px;
}
.AK {
    display:flex;
}

.des1{
    align-items: center;
justify-content: left;
margin-top:10px;
margin-bottom: 10px;
width:100%;
}

.des2{
    align-items: flex-end;
    justify-content: left;
    margin-bottom: 10px;
    width:100%;
}


button {
    justify-content: left;
    background-color: transparent;
    padding:0px;
    border-width: 0px;
    border-color: transparent;
    cursor: pointer;
}
.heroButtonD{
    display:block;
 }
.heroButtonM{
   display:none;
}
.mainBody{
    height:1545px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    justify-content: flex-start;
    position: relative;
    margin-top: -15px;
    z-index: 0;
}
.doodleL{ 
    position: absolute;
    left: 0px;
    top: 903px;
    height:auto;
    z-index: -1;
}
.doodleR{
    position: absolute;
    right: 0px;
    top: 0px;
    height:auto;
    z-index: -1;
}
.card{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 1341px;
    height: 467px;
    margin-top: 48px;
}
.kahcimage{
    width:664px;
}
.ccaimage{
    width:664px;
}
.nodeimage{
    width:448px;
}
.kahc{
    margin-top: 0px;
}
.workhp{
    block-size: 170px;
    position: absolute;
    left: 0px;
    top: 430px;
    z-index: -1;
}
.cardText{
    width:878px;
    height:81px;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}
.sub{
    margin-top: 10px;
}
.cardImg{
    width:1341px;
    height:322px;
    display:flex;
    align-items: end;
    justify-content: center;
}
.nodeText{
    width:445px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

footer{
    display:flex;
    flex-direction: row;
    padding-left:0px;
    padding-right:0px;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: #1e1e1e;
    width:auto;
    Height:215px;
}
.footerTitle{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 165px;
    padding-top: 13px;
}
.footerul{
    display:flex;
    align-items: center;
    padding-top: 0px;
}

.FT1{
    display:flex;
    flex-direction: row;
    white-space:nowrap;
    margin:0px;
}
.FT2{
    display:flex;
    flex-direction: row;
    margin:0px;
    padding-left:10px;
}
ul{
    display:flex;
    float:right;
    flex-direction: column;
}
.ulBottom{
    margin:0px;
    width:373px;
    height:161px;
    padding-left: 210px;
    display:flex;
    justify-content: flex-start;
}
.Location{
    padding-left: 0px;
    padding-top: 11.5px;
    padding-bottom: 11.5px;
   
}

.Loctext{
    flex-direction: row;
    margin:0px;
    margin-left:10px;
    width:327px;
    white-space:nowrap;
    cursor:default;
}
.Mail{
    height:53px;
    padding-left: 0px;
    padding-top: 11px;
    padding-bottom: 11px;
}

.Mailtext{
    flex-direction: row;
    margin:0px;
    margin-left:10px;
    width:327px;

}
.Linkedin{
    height:53px;
    padding-left: 0px;
    padding-top: 11px;
    padding-bottom: 11px;
}

.Linkedintext{
    display:inline;
    flex-direction: row;
    margin:0px;
    margin-left:10px;
    width:327px;
    white-space:nowrap;

}
@media only screen and (max-width:600px) and (min-width:320px){
    h1{
        font-size: 64px;
        block-size: 55px;
        letter-spacing:-8.5px;
    } 
    h2{
        font-size:40px;
        block-size: auto;
        text-align:center;
        text-wrap:balance ;
        line-height: 40px;
        inline-size:330px;
        justify-content: center;
        align-items: center;
    }
    h5{
        font-size: 100px;
        letter-spacing: -10.5px;
    }
    h6{
        font-size: 40px;
    }
    .R6 {
        font-size: 18px;
    }
    
    .R7 {
        font-size: 18px;
    }
    .logo {
        margin-left: 18px;
        width:51px;
        padding-bottom: 5px;
    }
    .navigation{
        height: 90px;
        display:flex;
        align-items:end;
        justify-content: space-between;
        }
     .navigation ul {
           display: none;
        }
    .menu{
        display: flex;
        width:40px;
        color:white;
        margin-right: 18px;
        cursor: pointer;
        padding-bottom: 12px;
    }
    .HI{
        width:1316.98px;
        z-index:-1;
        block-size: auto;
        margin-top: 45px;
        margin-left: -750px;
    
    }
    .heroImg{
        display:flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        /* width:100%;
        height:682px; */
    }
    
    .content{
        width:auto;
        height:270px;
        margin-top:600px;
        margin-left: 18px;
        margin-right: 18px;
        justify-content: center;
    }
    .heroButtonD{
        display:none;
     }
    .heroButtonM{
       display:block;
    }
    
    .title{
        justify-content: left;
        width:392px;
        margin: 0px;
    }
    
    .des1{
    align-items: center;
    justify-content: left;
    margin-top:10px;
    margin-bottom: 10px;
    width:100%;
    }
    
    .des2{
        align-items: flex-end;
        justify-content: left;
        margin-bottom: 10px;
        width:100%;
    }
    .mainBody{
        height:auto;
        width:auto;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        justify-content: flex-start;
        position: relative;
        margin-left: 18px;
        margin-right: 18px;
        margin-top: 235px;
        margin-bottom: 20px;
        z-index: 0;
    }
    .doodleL{ 
        position: absolute;
        height:137.73px;
        left: -60px;
        top: 680px;
        z-index: -1;
    }
    .doodleR{
        position: absolute;
        height:586.92px;
        right: -10px;
        top: 155px;
        z-index: -1;
    }

    .card{
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-between;
        margin-left: 18px;
        margin-right: 18px;
        width: auto;
        height: auto;
        margin-top: 48px;
    }
    .kahcimage{
        margin-top:60px;
        width:391px;
    }
    .ccaimage{
        margin-top:60px;
        width:391px;
    }
    .nodeimage{
        width:303px;
    }
    .kahc{
        margin-top: 0px;
    }
    .workhp{
        block-size: 170px;
        position: absolute;
        left: 0px;
        top: 770px;
        z-index: -1;
    }
    .cardText{
        width:auto;
        height:81px;
        margin-bottom: 10px;
        text-align: center;
        justify-content: center;
        margin-top: 20px;
    }
    .sub{
        margin-top: 10px;
    }
    .cardImg{
        width:391px;
        height:auto;
        display:flex;
        align-items: end;
        justify-content: center;
    }
    .nodeText{
        width:445px;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .nodeHeading{
        inline-size:150px;
    }
    footer{
        display:flex;
        flex-direction: column;
        padding-left:0px;
        padding-right:0px;
        background-color: #1e1e1e;
        width:auto;
        Height:auto;
        justify-content: center;
    }
    .footerTitle{
        display: flex;
        flex-direction: row;
        justify-content: left;
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 13px;
    }
    .footerul{
        display:flex;
        align-items: center;
        padding-top: 0px;
    }
    
    .FT1{
        display:flex;
        flex-direction: row;
        margin:0px;
    }
    .FT2{
        display:flex;
        flex-direction: row;
        margin:0px;
        padding-left:10px;
    }
    ul{
        display:flex;
        float:right;
        flex-direction: column;
    }
    .ulBottom{
        margin:0px;
        width:308px;
        height:161px;
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 10px;
        display:flex;
        justify-content: flex-start;
    }
    .Location{
        padding-left: 0px;
        padding-top: 11.5px;
        padding-bottom: 11.5px;
       
    }
    
    .Loctext{
        flex-direction: row;
        margin:0px;
        margin-left:10px;
        width:300px;
        white-space:nowrap;
        cursor:default;
    }
    .Mail{
        height:53px;
        padding-left: 0px;
        padding-top: 11px;
        padding-bottom: 11px;
    }
    
    .Mailtext{
        flex-direction: row;
        margin:0px;
        margin-left:10px;
        width:300px;
    
    }
    .Linkedin{
        height:53px;
        padding-left: 0px;
        padding-top: 11px;
        padding-bottom: 11px;
    }
    
    .Linkedintext{
        display:inline;
        flex-direction: row;
        margin:0px;
        margin-left:10px;
        width:300px;
        white-space:nowrap;
    
    }
}